{% extends 'base.html' %}

{% block content%}
{% load static %} 

<div class='container'>
<div class='test-box mt-5 mb-5'>
<div class='row justify-content-center mt-4'>

<h1 class='pt-4'>Password Reset</h1>
</div>
<div class='row justify-content-center mt-2'>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class='ml-4 mr-4'> Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
</div>
<div class='row justify-content-center mt-2'>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
</div>
        <div class='row mt-2 justify-content-center'><input type="submit" class='button1' value="Reset My Password"/>
    </form>
</div>
</div>
</div>
{% endblock content %}